
<h1>Random passwoprd generator</h1>
<div>
	<label for="">Input password length
		<input type="text">
	</label>	
</div>
<div>
	<label for="">Input password length
		<input type="text">
	</label>
</div>

<div>
	<label for="">Include letters
		<input type="checkbox" (change)="onChangeIncludeLetters()">
	</label>
</div>

<div>
	<label for="">Include Numbers
		<input type="checkbox" (change)="onChangeIncludeNumbers()">
	</label>
</div>

<div>
	<label for="">Include Symbols
		<input type="checkbox" (change)="onChangeIncludeSymbols()">
	</label>
</div>

<div>
	<label for="">Your generated password
		<input type="text">
	</label>	
</div>

